body { background: #ffffff; font-family: sans-serif; font-size: 11px; margin: 0px; }
table { font-size: inherit; border-collapse: collapse; }
tbody { font-size: inherit; }
th { text-align: left; font-weight: normal; border: 1px solid #e0e0e0; padding: 4px 6px 4px 6px; background: #336699; color: #ffffff; }
tr:hover { background: #f0f0f0; }
td { font-size: inherit; border: 1px solid #e0e0e0; padding: 4px 6px 4px 6px; }
a { text-decoration: none; color: #336699; }
a:hover { text-decoration: underline; color: #114477; }

div.main-nav-container { float: left; padding: 0px; background: #c0d0e0; width: 100%; }
div.main-nav { float: left; padding: 8px 8px 8px 8px; }
div.stage-container { float: left; padding: 0px; width: 100%; border-top: 1px solid #000000; }
div.stage { float: left; padding: 8px 8px 8px 8px; }

ul.control { float: left; padding: 0px 0px 0px 0px; margin: 0px 0px 0px 0px; }
/* div.main-nav ul.control { padding: 0px; } */
ul.control li { border: 1px solid #a0a0a0; float: left; list-style: none; background: #ffffff; margin-right: 6px; padding: 4px 6px 4px 6px; }
ul.control li a { text-decoration: none; color: #336699; font-size: 13px; }
ul.control li a:hover { text-decoration: underline; }
div.entity ul.control { padding-bottom: 6px; }

form { border: 1px solid #c0c0c0; padding: 18px 18px 18px 0px; text-align: center; float: left; }
form p { padding: 0px 0px 0px 0px; margin: 0px 0px 8px 0px; }
label { float: left; min-width: 100px; text-align: right; padding-right: 8px; }

/* Errors */
ul.errorlist { margin-bottom: 0px; margin-top: 0px; padding-left: 0px; }
ul.errorlist li { color: #ff0000; list-style: none; text-align: right; }

