{% extends "base.html" %}
{% load i18n %}

{% block content %}

<form action="/member/delete/{{ member.kennitala }}" method="POST">
{% csrf_token %}

<p class="warning" style="width: 330px;">{% trans 'Are you absolutely certain that you wish to delete the following member?' %}</p>
<p class="warning"><strong>{% trans 'This action cannot be undone.' %}</strong></p>

<div class="infosheet-container">
{% include 'member/stubs/infosheet.html' %}
</div>

<div class="formbuttons">
    <button type="sumbit">{% trans 'DELETE FOREVER!' %}</button>
    <button type="button" href="/member/view/{{ member.kennitala }}">{% trans 'Cancel' %}</button>
</div>

<form>

{% endblock %}

