{% extends "base.html" %}
{% load i18n %}

{% block content %}

<script language="javascript" type="text/javascript">
$(document).ready(function() {

    $('#export-csv').click(function() {
        location.href = '/member/csv/list/' + $('#group-techname').val();
    });

    // Group selection drop-down list
    $('#group-techname').change(function() {
        location.href = '/member/list/' + $(this).val();
    });

});
</script>

<div class="list-top-buttons">
    <button type="button" id="export-csv">{% trans 'Export to CSV' %}</button>
    {% if groups.count %}
    <select id="group-techname">
        <option value="">{% trans '- All Groups -' %}</option>
        {% for group in groups %}
            <option value="{{ group.techname }}" {% if group.techname == group_techname %}selected="1"{% endif %}>{{ group }}</option>
        {% endfor %}
    </select>
    {% endif %}
</div>

<div class="list-top-stats">
    <span class="stats-field">
        <span class="stats-label">{% trans 'Count' %}:</span>
        <span class="stats-value">{{ members.count }}</span>
    </span>
</div>

<table>
	<thead>
		<tr>
			<th>{% trans 'Citizen Nr.' %}</th>
			<th>{% trans 'Name' %}</th>
			<th>{% trans 'Username' %}</th>
            <th>{% trans 'Email' %}</th>
            <th>{% trans 'Phone' %}</th>
            <th>{% trans 'Added' %}</th>
		</tr>
	</thead>
	<tbody>
	{% for member in members %}
		<tr>
			<td><a href="/member/view/{{ member.kennitala }}">{{ member.kennitala }}</a></td>
			<td>{{ member.name }}</td>
			<td>{{ member.username }}</td>
            <td><a href="mailto:{{ member.email }}">{{ member.email }}</a></td>
            <td>{{ member.phone }}</td>
			<td>{{ member.added }}</td>
		</tr>
	{% endfor %}
	</tbody>
</table>

{% endblock %}
