{% extends "base.html" %}
{% load i18n %}

{% block content %}

<form action="/member/view/{{ member.ssn }}" method="POST">

{% if user.is_superuser %}
    <div class="formbuttons-top">
        <button type="button" href="/member/delete/{{ member.ssn }}">{% trans 'Delete' %}</button>
    </div>
{% endif %}

<div class="infosheet-container">
{% include 'member/stubs/infosheet.html' %}
</div>

<div class="formbuttons">
    <button type="button" href="/member/edit/{{ member.ssn }}">{% trans 'Edit' %}</button>
    <button type="button" href="{% url 'national_registry_lookup' member.ssn %}" data-warning="{% blocktrans %}A lookup from the national registry incurs a cost of {{ NATIONAL_REGISTRY_LOOKUP_COST }}. Are you sure want to continue?{% endblocktrans %}">
        {% trans 'Update from national registry' %}
    </button>
</div>

</form>

{% endblock content %}
