{% extends "base.html" %}
{% load i18n %}

{% block content %}

<form action="/member/view/{{ member.ssn }}" method="POST">

<div class="formbuttons-top">
    <button type="button" href="/member/delete/{{ member.ssn }}">{% trans 'Delete' %}</button>
</div>

<div class="infosheet-container">
{% include 'member/stubs/infosheet.html' %}
</div>

<div class="formbuttons">
    <button type="button" href="/member/edit/{{ member.ssn }}">{% trans 'Edit' %}</button>
</div>

</form>

{% endblock content %}
