{% load i18n %}
{% load printadmin %}
{% load mathfilters %}

<div class="infosheet">
    <div class="header">
        {% trans 'Message added at' %} {{ message.added }}
    </div>
    <div class="line">
        <p class="label">{% trans 'Added' %}:</p>
        <p class="value">{{ message.added }}</p>
    </div>
    <div class="line">
        <p class="label">{% trans 'Subject' %}:</p>
        <p class="value">{{ message.subject }}</p>
    </div>
    <div class="line">
        <p class="label">{% trans 'Body' %}:</p>
        <p class="value">
            <div class="mailbody">{{ message.body|linebreaks }}</div>
        </p>
    </div>
    <div class="line">
        <p class="label">{% trans 'Ready' %}:</p>
        <p class="value"><strong>{{ message.ready_to_send|yesno|capfirst }}</strong></p>
    </div>
    <div class="line">
        <p class="label">{% trans 'Send Start' %}:</p>
        <p class="value">{% if message.sending_started %}{{ message.sending_started }}{% endif %}</p>
    </div>
    <div class="line">
        <p class="label">{% trans 'Send Complete' %}:</p>
        <p class="value">{% if message.sending_complete %}{{ message.sending_complete }}{% endif %}</p>
    </div>
    <div class="line">
        <p class="label">{% trans 'Targets' %}:</p>
        <p class="value">
            {% if message.send_to_all %}
                {% trans 'Everyone' %}
            {% else %}
                {% if message.include_mailing_list %}
                    {% trans 'Mailing list' %}{% if message.membergroups.count %},{% endif %}<br />
                {% endif %}
                {% include 'group/stubs/shortlist.html' with membergroups=message.membergroups.all %}
            {% endif %}
        </p>
    </div>
    <div class="line">
        <p class="label">{% trans 'Recipients' %}:</p>
        <p class="value">
            {% if message.sending_started %}
                {% if message.recipient_count < 0 %}
                    {% comment %}
                    A negative recipient count indicates that the data is old
                    and potentially incomplete due to bugs in how the number
                    was recorded before. This only applies to old messages, as
                    new ones will record the proper number.
                    {% endcomment %}
                    {{ 0|sub:message.recipient_count }}{% trans ', based on potentially imperfect data.' %}
                {% else %}
                    {{ message.recipient_count_complete }} / {{ message.recipient_count }} {% trans 'complete' %}
                {% endif %}
            {% else %}
                {{ message.get_recipients|length }}
            {% endif %}
        </p>
    </div>
    <div class="line">
        <p class="label">{% trans 'Author' %}:</p>
        <p class="value">{{ message.author|printadmin }}</p>
    </div>
</div>

