body { background: #ffffff; font-family: sans-serif; font-size: 11px; margin: 0px; }
table { font-size: inherit; border-collapse: collapse; }
tbody { font-size: inherit; }
th { text-align: left; font-weight: normal; border: 1px solid #e0e0e0; padding: 4px 6px 4px 6px; background: #336699; color: #ffffff; }
tr:hover { background: #f0f0f0; }
td { font-size: inherit; border: 1px solid #e0e0e0; padding: 4px 6px 4px 6px; }
a { text-decoration: none; color: #336699; }
a:hover { text-decoration: underline; color: #114477; }

div.main-nav-container { float: left; padding: 0px; background: #c0d0e0; width: 100%; }
div.stage-container { float: left; padding: 0px; width: 100%; border-top: 1px solid #000000; }
div.stage { float: left; padding: 8px 8px 8px 8px; }

/* Top navigation (messed up) */
ul.control { float: left; padding: 0px 0px 0px 0px; margin: 8px 8px 8px 8px; }
ul.control li { border: 1px solid #a0a0a0; float: left; list-style: none; background: #ffffff; padding: 4px 6px 4px 6px; }
ul.control li a { text-decoration: none; color: #336699; font-size: 13px; }
ul.control li a:hover { text-decoration: underline; }

/* Top-right navigation (messed up and badly named) */
ul.control-control { float: right; padding: 0px 0px 0px 0px; margin: 8px; }
ul.control-control li { float: right; border: 1px solid #a0a0a0; list-style: none; background: #ffffff; margin-left: 6px; padding: 4px 6px 4px 6px; }
ul.control-control li a { text-decoration: none; color: #336699; font-size: 13px; }
ul.control-control li a:hover { text-decoration: underline; }

div.entity ul.control { padding-bottom: 6px; }

/* Info sheets, such as user view */
div.infosheet-container { display: inline-block; padding-top: 8px; padding-bottom: 8px; }
div.infosheet { float: left; border: 1px dotted #a0a0a0; padding: 4px 16px 0px 16px; }
div.infosheet div.header { padding: 6px 0px 4px 0px; font-weight: bold; font-size: 14px; text-align: center; }
div.infosheet div.line { float: left; clear: left; border-bottom: 1px dotted #a0a0a0; width: 100%; }
div.infosheet div.line:last-child { border-bottom: 0px solid #ffffff; }
div.infosheet p.label { float: left; width: 100px; text-align: right; padding-right: 16px; }
div.infosheet p.value { float: left; text-align: left; }

/* Group list (template stub) */
ul.grouplist { clear: both; float: left; border: 1px solid red; }
ul.grouplist li { float: left; border: 1px solid green; }

/* Form classes */
form { border: 1px solid #c0c0c0; padding: 18px 18px 10px 18px; text-align: center; float: left; }
form p { padding: 0px 0px 0px 0px; margin: 8px 0px 8px 0px; text-align: left; }
form label { float: left; min-width: 100px; text-align: right; padding-right: 8px; }
form input[type='text'] { width: 159px; }
form input[type='password'] { width: 159px; }
form input[type='email'] { width: 159px; }
form ul { clear: right; float: left; padding: 0px; margin: 0px; max-width: 158px; }
form ul li { float: left; clear: left; list-style-type: none;  }
form ul li input[type='checkbox'] { width: 16px; }
form ul li label { float: left; text-align: left; min-width: 0px; padding: 0px; text-indent: -26px; margin-left: 26px; }
form textarea, form input { font-family: inherit; font-size: inherit; }

/* Big form classes */
form.bigform input[type='text'] { width: 360px; }
form.bigform input[type='email'] { width: 360px; }
form.bigform textarea { width: 360px; }
form.bigform select { width: 360px; }
form.bigform ul { min-width: 360px; }

/* General formats */
.warning { font-size: 16px; color: #880000; }
.center { text-align: center; }
.mailbody { float: left; width: 300px; text-align: justify; }

/* General controls */
div.formbuttons { text-align: center; float: left; width: 100%; padding: 0px 0px 0px 0px; }
div.formbuttons button { margin-top: 8px; margin-bottom: 8px; }
div.formbuttons label { float: none; }
div.formbuttons input[type='checkbox'] { }
div.formbuttons-top button { float: right; padding-top: 0px; margin-top: 0px; }
div.list-top-buttons button { margin-top: 8px; margin-bottom: 8px; }
div.list-top-stats { margin-bottom: 6px; }

/* Errors */
ul.errorlist { margin-bottom: 0px; margin-top: 0px; padding-left: 0px; max-width: 100% !important; width: 100%; }
ul.errorlist li { color: #ff0000; list-style: none; text-align: right; float: right; }

