{% extends "base.html" %}
{% load i18n %}

{% block content %}

<table>
	<thead>
		<tr>
			<th>{% trans 'Group Name' %}</th>
			<th>{% trans 'Techname' %}</th>
            <th>{% trans 'Email' %}</th>
			<th>{% trans 'Added' %}</th>
			<th>{% trans 'Count' %}</th>
		</tr>
	</thead>
	<tbody>
	{% for group in groups %}
		<tr>
			<td><a href="/group/view/{{ group.techname }}">{{ group.name }}</a></td>
            <td>{{ group.techname }}</td>
            <td><a href="mailto:{{ group.email }}">{{ group.email }}</a></td>
			<td>{{ group.added }}</td>
			<td>{{ group.members.count  }}</td>
		</tr>
	{% endfor %}
	</tbody>
</table>

{% endblock %}
