{% extends "base.html" %}
{% load i18n %}

{% block content %}

<table>
	<thead>
		<tr>
			<th>{% trans 'Group Name' %}</th>
			<th>{% trans 'Techname' %}</th>
            <th>{% trans 'Email' %}</th>
			<th>{% trans 'Added' %}</th>
			<th>{% trans 'Members' %}</th>
			<th>{% trans 'Subgroups' %}</th>
			<th>{% trans 'Locations' %}</th>
			<th>{% trans 'Combined' %}</th>
		</tr>
	</thead>
	<tbody>
	{% for membergroup in membergroups %}
		<tr>
			<td><a href="/group/view/{{ membergroup.techname }}">{{ membergroup.name }}</a></td>
            <td>{{ membergroup.techname }}</td>
            <td><a href="mailto:{{ membergroup.email }}">{{ membergroup.email }}</a></td>
			<td>{{ membergroup.added }}</td>
			<td><a href="/member/list/{{ membergroup.techname }}">{{ membergroup.members.count }}</a></td>
			<td>{% include 'group/stubs/shortlist.html' with membergroups=membergroup.auto_subgroups.all nolinebr=True %}</td>
			<td>{% if membergroup.auto_locations.count %}
                          {{ membergroup.combination_method }} with:
                          {% include 'locationcode/stubs/shortlist.html' with locationcodes=membergroup.auto_locations.all nolinebr=True %}
                        {% endif %}</td>
			<td><a href="/member/list/{{ membergroup.techname }}/combined">{{ membergroup.get_members.count }}</a></td>
		</tr>
	{% endfor %}
	</tbody>
</table>

{% endblock %}
