{% extends "base.html" %}
{% load i18n %}

{% block content %}

<table>
	<thead>
		<tr>
			<th>{% trans 'Group Name' %}</th>
			<th>{% trans 'Techname' %}</th>
            <th>{% trans 'Email' %}</th>
			<th>{% trans 'Added' %}</th>
			<th>{% trans 'Members' %}</th>
			<th>{% trans 'Subgroups' %}</th>
			<th>{% trans 'Locations' %}</th>
			<th>{% trans 'Combined' %}</th>
		</tr>
	</thead>
	<tbody>
	{% for group in groups %}
		<tr>
			<td><a href="/group/view/{{ group.techname }}">{{ group.name }}</a></td>
            <td>{{ group.techname }}</td>
            <td><a href="mailto:{{ group.email }}">{{ group.email }}</a></td>
			<td>{{ group.added }}</td>
			<td><a href="/member/list/{{ group.techname }}">{{ group.members.count }}</a></td>
			<td>{% include 'group/stubs/shortlist.html' with groups=group.auto_subgroups.all nolinebr=True %}</td>
			<td>{% if group.auto_locations.count %}
                          {{ group.combination_method }} with:
                          {% include 'locationcode/stubs/shortlist.html' with locationcodes=group.auto_locations.all nolinebr=True %}
                        {% endif %}</td>
			<td><a href="/member/list/{{ group.techname }}/combined">{{ group.get_members.count }}</a></td>
		</tr>
	{% endfor %}
	</tbody>
</table>

{% endblock %}
