{% extends "base.html" %}
{% load i18n %}

{% block content %}

<table>
	<thead>
		<tr>
			<th>{% trans 'Group Name' %}</th>
			<th colspan=26>
                          {% trans 'Weekly new members (combined), from ' %}
                          {{ dates.0 }} .. {{ dates|last }}
                        </th>
			<th>{% trans 'Total' %}</th>
		</tr>
	</thead>
	<tbody>
	{% for row in stats %}
		<tr>
			<td>{% if row.group %}
              <a href="/group/view/{{ row.group.techname }}">{{ row.group.name }}</a>
            {% else %}
              TOTAL
            {% endif %}</td>
            {% for count in row.joined %}
            <td>{{ count }}</td>
            {% endfor %}
			<td>{{ row.total }}</td>
		</tr>
	{% endfor %}
	</tbody>
</table>
<a href="/group/stats/csv/">Download as CSV</a>

{% endblock %}
