{% extends "base.html" %}
{% load i18n %}

{% block content %}

<form action="/group/view/{{ membergroup.techname }}" method="POST">

<div class="formbuttons-top">
    <button type="button" href="/group/delete/{{ membergroup.techname }}">{% trans 'Delete' %}</button>
</div>

<div class="infosheet-container">
{% include 'group/stubs/infosheet.html' %}
</div>

<div class="formbuttons">
    <button type="button" href="/group/edit/{{ membergroup.techname }}">{% trans 'Edit' %}</button>
</div>

</form>

{% endblock %}

