{% load i18n %}
{% load wasa2il_url %}

<div class="infosheet">
    <div class="header">
        {{ member.name }}
    </div>
    <div class="line">
        <p class="label">{% trans 'SSN' %}:</p>
        <p class="value">{{ member.ssn }}</p>
    </div>
    <div class="line">
        <p class="label">{% trans 'Name' %}:</p>
        <p class="value">{{ member.name }}</p>
    </div>
    <div class="line">
        <p class="label">{% trans 'Username' %}:</p>
        <p class="value">
            {% if member.username %}{{ member.username }}{% endif %}
            (<a href="{{ member|wasa2il_url }}">url</a>)
        </p>
    </div>
    <div class="line">
        <p class="label">{% trans 'Email' %}:</p>
        <p class="value">
            <a href="mailto:{{ member.email }}">{{ member.email }}</a>
            <br />
            {% if member.email_wanted %}
                <small>(consent for sending email provided)</small>
            {% else %}
                <small><strong>(consent for sending email not provided)</strong></small>
            {% endif %}
        </p>
    </div>
    {% if member.phone %}
    <div class="line">
        <p class="label">{% trans 'Phone' %}:</p>
        <p class="value">{{ member.phone }}</p>
    </div>
    {% endif %}
    <div class="line">
        <p class="label">{% trans 'Added' %}:</p>
        <p class="value">{{ member.added }}</p>
    </div>
    {% if member.membergroups.count %}
    <div class="line">
        <p class="label">{% trans 'Groups' %}:</p>
        <p class="value">
            {% include 'group/stubs/shortlist.html' with membergroups=member.membergroups.all %}
        </p>
    </div>
    {% endif %}
    {% comment %}
    <!-- Disabled since data is old and unreliable, but might be fixed later. -->
    {% if member.get_location_codes %}
    <div class="line">
        <p class="label">{% trans 'Locations' %}:</p>
        <p class="value">
            {% include 'locationcode/stubs/shortlist.html' with locationcodes=member.get_location_codes %}
        </p>
    </div>
    {% endif %}
    {% endcomment %}
</div>

