{% load i18n %}

<div class="infosheet">
    <div class="header">
        {{ member.name }}
    </div>
    <div class="line">
        <p class="label">{% trans 'Citizen Nr.' %}:</p>
        <p class="value">{{ member.kennitala }}</p>
    </div>
    <div class="line">
        <p class="label">{% trans 'Name' %}:</p>
        <p class="value">{{ member.name }}</p>
    </div>
    <div class="line">
        <p class="label">{% trans 'Username' %}:</p>
        <p class="value">{{ member.username }}</p>
    </div>
    <div class="line">
        <p class="label">{% trans 'Email' %}:</p>
        <p class="value"><a href="mailto:{{ member.email }}">{{ member.email }}</a></p>
    </div>
    {% if member.phone %}
    <div class="line">
        <p class="label">{% trans 'Phone' %}:</p>
        <p class="value">{{ member.phone }}</p>
    </div>
    {% endif %}
    <div class="line">
        <p class="label">{% trans 'Added' %}:</p>
        <p class="value">{{ member.added }}</p>
    </div>
    {% if member.groups.count %}
    <div class="line">
        <p class="label">{% trans 'Groups' %}:</p>
        <p class="value">
            {% include 'group/stubs/shortlist.html' with groups=member.groups %}
        </p>
    </div>
    {% endif %}
</div>

