{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block content %}

{% include 'js/prosearea.html' %}

<script language="javascript" type="text/javascript" src="{% static 'message/js/message.js' %}"></script>

<form action="/message/add/" method="POST" class="bigform">
{% csrf_token %}
{{ form.as_p }}
<div class="formbuttons">
    <button type="submit">{% trans 'Add Message' %}</button>
    <label for="id_ready_to_send">
        <input type="checkbox" id="id_ready_to_send" name="ready_to_send" />
        {% trans 'Ready to send' %}
    </label>
    <button type="button" href="/message/list">{% trans 'Cancel' %}</button>
</div>
</form>

{% endblock %}

