{% extends "base.html" %}
{% load i18n %}

{% block content %}

<script language="javascript" type="text/javascript">

function check_send_to_all() {
    var checked = $('#id_send_to_all').is(':checked');

    $boxes = $('#id_groups input[type="checkbox"]')
    $subgroups = $('#id_groups, label[for="id_groups_0"], ' +
                   '#id_groups_include_subgroups, label[for="id_groups_include_subgroups"],' +
                   '#id_groups_include_locations, label[for="id_groups_include_locations"],' +
                   '#id_locations, label[for="id_locations"]')

    if (!checked) {
        $boxes.removeAttr('disabled');
        $subgroups.show();
    }
    else {
        $boxes.attr('checked', false);
        $boxes.attr('disabled', true);
        $subgroups.hide();
    }
}

$(function() {
    $('#id_send_to_all').click(function() {
        check_send_to_all();
    });

    check_send_to_all();

    $('#id_subject').focusEnd();
});

</script>

<form action="/message/add/" method="POST" class="bigform">
{% csrf_token %}
{{ form.as_p }}
<div class="formbuttons">
    <button type="submit">{% trans 'Add Message' %}</button>
    <label for="id_ready_to_send">
        <input type="checkbox" id="id_ready_to_send" name="ready_to_send" />
        {% trans 'Ready to send' %}
    </label>
    <button type="button" href="/message/list">{% trans 'Cancel' %}</button>
</div>
</form>

{% endblock %}

