{% load staticfiles %}
{% load i18n %}
<html>
<head>
<title>{% trans 'Pirate Party Iceland: Member Database' %}</title>
<link rel="stylesheet" href="{% static "icepirate/css/icepirate.css" %}" />
<script language="javascript" type="text/javascript" src="{% static "icepirate/js/jquery/jquery-1.10.2.js" %}"></script>
<script language="javascript" type="text/javascript" src="{% static "icepirate/js/icepirate.js" %}"></script>
</head>
<body>

{% if not user.is_anonymous %}
<div class="main-nav-container">
    <div class="main-nav" style="width: 100%;">
        <ul class="control">
            <li><a href="/member/list">{% trans 'Member List' %}</a></li>
            <li><a href="/member/add">{% trans 'Add Member' %}</a></li>
        </ul>
        <ul class="control">
            <li><a href="/group/list">{% trans 'Group List' %}</a></li>
            <li><a href="/group/add">{% trans 'Add Group' %}</a></li>
        </ul>
        <ul class="control">
            <li><a href="/message/list/">{% trans 'Message List' %}</a></li>
            <li><a href="/message/add/">{% trans 'Add Message' %}</a></li>
        </ul>
        {% block control %}{% endblock %}
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <ul class="control-control">
            <li><a href="/accounts/logout/">{% trans 'Logout' %}</a></li>
        </ul>
    </div>
</div>
{% endif %}

<div class="stage-container">
    <div class="stage">
        {% block content %}[ Content section ]{% endblock %}
    </div>
</div>

</body>
</html>
