{% load i18n %}

<div class="infosheet">
    <div class="header">
        {{ membergroup.name }}
    </div>
    <div class="line">
        <p class="label">{% trans 'Name' %}:</p>
        <p class="value">{{ membergroup.name }}</p>
    </div>
    <div class="line">
        <p class="label">{% trans 'Technical name' %}:</p>
        <p class="value">{{ membergroup.techname }}</p>
    </div>
    <div class="line">
        <p class="label">{% trans 'Email' %}:</p>
        <p class="value"><a href="mailto:{{ membergroup.email }}">{{ membergroup.email }}</a></p>
    </div>
    <div class="line">
        <p class="label">{% trans 'Added' %}:</p>
        <p class="value">{{ membergroup.added }}</p>
    </div>
    <div class="line">
        <p class="label">{% trans 'Subgroups' %}:</p>
        <p class="value">{% if membergroup.auto_subgroups.count %}
            {% include 'group/stubs/shortlist.html' with membergroups=membergroup.auto_subgroups.all nolinebr=True %}
        {% else %}
            <i>{% trans 'none' %}</i>
        {% endif %}</p>
    </div>
    {% if membergroup.members.count %}
    <div class="line">
        <p class="label">{% trans 'Members' %}:</p>
        <p class="value"><a href="/member/list/{{ membergroup.techname }}">
            {{ membergroup.members.count }}
        </a>
        </p>
    </div>
    {% endif %}
</div>

